@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Mochiy+Pop+P+One&display=swap');
.container{
position: relative;
width:70%;
margin: auto;
height:100vh;
}


.common{
    font-size: 60px;
    display: inline-block;
    padding: .5rem;
    position: absolute;
    top:100px;
    right:-500px;
    font-family: 'Fruktur', cursive;
}
.commonn{
    font-size: 60px;
    display: inline-block;
    padding: .5rem;
    position: absolute;
    top:10rem;
    right:-500px;
    font-family: 'Fruktur', cursive;
    top:540px;
    color: #fff;
    animation: for 5s ease-in-out 10s infinite;
    -webkit-animation: for 5s ease-in-out 10s infinite;
}
.ff{
    right: 950px;
}
.oo{
    right: 920px;
}
.rr{
    right: 890px;
}

.ww{
    right: 800px;
}
.ii{
    right: 780px;
}
.nn{
    right: 740px;
}
.nn1{
    right: 700px;
}
.ii1{
    right: 680px;
}
.nn2{
    right: 640px;
}
.gg{
    right: 600px;
}

.tt{
    right: 530px;
}
.hh{
    right: 490px;
}
.ee{
    right: 460px;
}

.bb{
    right: 390px;
}
.aa{
    right: 350px;
}
.ll{
    right: 330px;
}
.ll1{
    right: 310px;
}
.oo1{
    right: 280px;
}
.nn3{
    right: 240px;
}

.dd{
    right: 150px;
}
.oo2{
right: 110px;
}
.rr1{
    right: 80px;
}



.c{
    right: 820px;
    animation: congrats 5s ease-in-out infinite;
    -webkit-animation: congrats 5s ease-in-out infinite;
}
.o1{
    right:770px;
    animation: congrats 5s ease-in-out .2s infinite;
    -webkit-animation: congrats 5s ease-in-out .2s infinite;
}
.n1{
    right: 720px;
    animation: congrats 5s ease-in-out .4s infinite;
    -webkit-animation: congrats 5s ease-in-out .4s infinite;
}
.g{
    right: 670px;
    animation: congrats 5s ease-in-out .6s infinite;
    -webkit-animation: congrats 5s ease-in-out .6s infinite;
}
.r{
    right: 620px;
    animation: congrats 5s ease-in-out .8s infinite;
    -webkit-animation: congrats 5s ease-in-out .8s infinite;
}
.a1{
    right: 570px;
    animation: congrats 5s ease-in-out 1s infinite;
    -webkit-animation: congrats 5s ease-in-out 1s infinite;
}
.t1{
    right: 520px;
    animation: congrats 5s ease-in-out 1.2s infinite;
    -webkit-animation: congrats 5s ease-in-out 1.2s infinite;
}
.u{
    right: 470px;
    animation: congrats 5s ease-in-out 1.4s infinite;
    -webkit-animation: congrats 5s ease-in-out 1.4s infinite;
}
.l{
    right: 420px;
    animation: congrats 5s ease-in-out 1.6s infinite;
    -webkit-animation: congrats 5s ease-in-out 1.6s infinite;
}
.a2{
    right: 370px;
    animation: congrats 5s ease-in-out 1.8s infinite;
    -webkit-animation: congrats 5s ease-in-out 1.8s infinite;
}
.t2{
    right: 320px;
    animation: congrats 5s ease-in-out 2s infinite;
    -webkit-animation: congrats 5s ease-in-out 2s infinite;
}
.i{
    right: 270px;
    animation: congrats 5s ease-in-out 2.2s infinite;
    -webkit-animation: congrats 5s ease-in-out 2.2s infinite;
}
.o2{
    right: 220px;
    animation: congrats 5s ease-in-out 2.4s infinite;
    -webkit-animation: congrats 5s ease-in-out 2.4s infinite;
}
.n2{
    right:170px;
    animation: congrats 5s ease-in-out 2.6s infinite;
    -webkit-animation: congrats 5s ease-in-out 2.6s infinite;
}
.s{
    right: 120px;
    animation: congrats 5s ease-in-out 2.8s infinite;
    -webkit-animation: congrats 5s ease-in-out 2.8s infinite;
}
@keyframes congrats{
    0%{
        top: 100px;
        color: #A12568;
    }
    14%{
        top: 150px;
        color: #3E00FF
    }
    30%{
        top: 100px;
        color: #A12568;
    }
    100%{
        top: 100px;
        color:#FFCA03;
    }
}
@keyframes for{
    0%{
       color: #FF0000;
       
    }
    5%{
      color : #fff;
    }
    10%{
       color:#FF0000;
    }
    15%{
        color: #fff;
    }
    20%{
        color: #FF0000;
        
     }
     25%{
        color: #fff;
        
     }
     30%{
        color: #FF0000;
        
     }
     35%{
        color: #fff;
        
     }
     40%{
        color: #FF0000;
        
     }
     70%{
        color: #0CECDD;
        
     }
     100%{
        color: #3E00FF
        
     }
}

.shape{
position: absolute;
height: 10px;
width: 10px;
background:#fff;
display:inline-block;
}


/*M left line*/
.shape1{
top:500px;
left:10px;
}

.shape2{
top:500px;
left:25px;
}

.shape3{
top:500px;
left:40px;
}

.shape4{
top:500px;
left:55px;
}
.shape5{
top:485px;
left:10px;
}

.shape6{
top:485px;
left:25px;
}

.shape7{
top:485px;
left:40px;
}

.shape8{
top:485px;
left:55px;
}
.shape9{
top:470px;
left:10px;
}

.shape10{
top:470px;
left:25px;
}

.shape11{
top:470px;
left:40px;
}

.shape12{
top:470px;
left:55px;
}
.shape13{
top:455px;
left:10px;
}

.shape14{
top:455px;
left:25px;
}

.shape15{
top:455px;
left:40px;
}

.shape16{
top:455px;
left:55px;
}

.shape17{
top:440px;
left:10px;
}

.shape18{
top:440px;
left:25px;
}

.shape19{
top:440px;
left:40px;
}

.shape20{
top:440px;
left:55px;
}
.shape21{
top:425px;
left:10px;
}

.shape22{
top:425px;
left:25px;
}

.shape23{
top:425px;
left:40px;
}

.shape24{
top:425px;
left:55px;
}
.shape25{
top:410px;
left:10px;
}

.shape26{
top:410px;
left:25px;
}

.shape27{
top:410px;
left:40px;
}

.shape28{
top:410px;
left:55px;
}
.shape29{
top:395px;
left:10px;
}

.shape30{
top:395px;
left:25px;
}

.shape31{
top:395px;
left:40px;
}

.shape32{
top:395px;
left:55px;
}


.shape33{
top:380px;
left:10px;
}

.shape34{
top:380px;
left:25px;
}

.shape35{
top:380px;
left:40px;
}

.shape36{
top:380px;
left:55px;
}
.shape37{
top:365px;
left:10px;
}

.shape38{
top:365px;
left:25px;
}

.shape39{
top:365px;
left:40px;
}

.shape40{
top:365px;
left:55px;
}
.shape41{
top:350px;
left:10px;
}

.shape42{
top:350px;
left:25px;
}

.shape43{
top:350px;
left:40px;
}

.shape44{
top:350px;
left:55px;
}
.shape45{
top:335px;
left:10px;
}

.shape46{
top:335px;
left:25px;
}

.shape47{
top:335px;
left:40px;
}

.shape48{
top:335px;
left:55px;
}

.shape49{
top:320px;
left:10px;
}

.shape50{
top:320px;
left:25px;
}

.shape51{
top:320px;
left:40px;
}

.shape52{
top:320px;
left:55px;
}
.shape53{
top:305px;
left:10px;
}

.shape54{
top:305px;
left:25px;
}

.shape55{
top:305px;
left:40px;
}

.shape56{
top:305px;
left:55px;
}
.shape57{
top:290px;
left:10px;
}

.shape58{
top:290px;
left:25px;
}

.shape59{
top:290px;
left:40px;
}

.shape60{
top:290px;
left:55px;
}
.shape61{
top:275px;
left:10px;
}

.shape62{
top:275px;
left:25px;
}

.shape63{
top:275px;
left:40px;
}

.shape64{
top:275px;
left:55px;
}











/*m  curve*/
.shape65{
top:290px;
left:70px;
}
.shape66{
top:305px;
left:70px;
}
.shape67{
top:320px;
left:70px;
}
.shape68{
top:335px;
left:70px;
}


.shape69{
top:305px;
left:85px;
}
.shape70{
top:320px;
left:85px;
}
.shape71{
top:335px;
left:85px;
}


.shape72{
top:320px;
left:100px;
}
.shape73{
top:335px;
left:100px;
}


.shape74{
top:335px;
left:115px;
}

.shape75{
top:320px;
left:130px;
}
.shape76{
top:335px;
left:130px;
}

.shape77{
top:305px;
left:145px;
}
.shape78{
top:320px;
left:145px;
}
.shape79{
top:335px;
left:145px;
}

.shape80{
top:290px;
left:160px;
}
.shape81{
top:305px;
left:160px;
}
.shape82{
top:320px;
left:160px;
}
.shape83{
top:335px;
left:160px;
}













/*M right line*/
.shape84{
top:500px;
left:175px;
}

.shape85{
top:500px;
left:190px;
}

.shape86{
top:500px;
left:205px;
}

.shape87{
top:500px;
left:220px;
}
.shape88{
top:485px;
left:175px;
}

.shape89{
top:485px;
left:190px;
}

.shape90{
top:485px;
left:205px;
}

.shape91{
top:485px;
left:220px;
}
.shape92{
top:470px;
left:175px;
}

.shape93{
top:470px;
left:190px;
}

.shape94{
top:470px;
left:205px;
}

.shape95{
top:470px;
left:220px;
}
.shape96{
top:455px;
left:175px;
}

.shape97{
top:455px;
left:190px;
}

.shape98{
top:455px;
left:205px;
}

.shape99{
top:455px;
left:220px;
}

.shape100{
top:440px;
left:175px;
}

.shape101{
top:440px;
left:190px;
}

.shape102{
top:440px;
left:205px;
}

.shape103{
top:440px;
left:220px;
}
.shape104{
top:425px;
left:175px;
}

.shape105{
top:425px;
left:190px;
}

.shape106{
top:425px;
left:205px;
}

.shape107{
top:425px;
left:220px;
}
.shape108{
top:410px;
left:175px;
}

.shape109{
top:410px;
left:190px;
}

.shape110{
top:410px;
left:205px;
}

.shape111{
top:410px;
left:220px;
}
.shape112{
top:395px;
left:175px;
}

.shape113{
top:395px;
left:190px;
}

.shape114{
top:395px;
left:205px;
}

.shape115{
top:395px;
left:220px;
}


.shape116{
top:380px;
left:175px;
}

.shape117{
top:380px;
left:190px;
}

.shape118{
top:380px;
left:205px;
}

.shape119{
top:380px;
left:220px;
}
.shape120{
top:365px;
left:175px;
}

.shape121{
top:365px;
left:190px;
}

.shape122{
top:365px;
left:205px;
}

.shape123{
top:365px;
left:220px;
}
.shape124{
top:350px;
left:175px;
}

.shape125{
top:350px;
left:190px;
}

.shape126{
top:350px;
left:205px;
}

.shape127{
top:350px;
left:220px;
}
.shape128{
top:335px;
left:175px;
}

.shape129{
top:335px;
left:190px;
}

.shape130{
top:335px;
left:205px;
}

.shape131{
top:335px;
left:220px;
}

.shape132{
top:320px;
left:175px;
}

.shape133{
top:320px;
left:190px;
}

.shape134{
top:320px;
left:205px;
}

.shape135{
top:320px;
left:220px;
}
.shape136{
top:305px;
left:175px;
}

.shape137{
top:305px;
left:190px;
}

.shape138{
top:305px;
left:205px;
}

.shape139{
top:305px;
left:220px;
}
.shape140{
top:290px;
left:175px;
}

.shape141{
top:290px;
left:190px;
}

.shape142{
top:290px;
left:205px;
}

.shape143{
top:290px;
left:220px;
}
.shape144{
top:275px;
left:175px;
}

.shape145{
top:275px;
left:190px;
}

.shape146{
top:275px;
left:205px;
}

.shape147{
top:275px;
left:220px;
}



















































































/*E stand line*/


.shape148{
top:500px;
left:300px;
}

.shape149{
top:500px;
left:315px;
}

.shape150{
top:500px;
left:330px;
}

.shape151{
top:500px;
left:345px;
}
.shape152{
top:485px;
left:300px;
}

.shape153{
top:485px;
left:315px;
}

.shape154{
top:485px;
left:330px;
}

.shape155{
top:485px;
left:345px;
}
.shape156{
top:470px;
left:300px;
}

.shape157{
top:470px;
left:315px;
}

.shape158{
top:470px;
left:330px;
}

.shape159{
top:470px;
left:345px;
}
.shape160{
top:455px;
left:300px;
}

.shape161{
top:455px;
left:315px;
}

.shape162{
top:455px;
left:330px;
}

.shape163{
top:455px;
left:345px;
}

.shape164{
top:440px;
left:300px;
}

.shape165{
top:440px;
left:315px;
}

.shape166{
top:440px;
left:330px;
}

.shape167{
top:440px;
left:345px;
}
.shape168{
top:425px;
left:300px;
}

.shape169{
top:425px;
left:315px;
}

.shape170{
top:425px;
left:330px;
}

.shape171{
top:425px;
left:345px;
}
.shape172{
top:410px;
left:300px;
}

.shape173{
top:410px;
left:315px;
}

.shape174{
top:410px;
left:330px;
}

.shape175{
top:410px;
left:345px;
}
.shape176{
top:395px;
left:300px;
}

.shape177{
top:395px;
left:315px;
}

.shape178{
top:395px;
left:330px;
}

.shape179{
top:395px;
left:345px;
}


.shape180{
top:380px;
left:300px;
}

.shape181{
top:380px;
left:315px;
}

.shape182{
top:380px;
left:330px;
}

.shape183{
top:380px;
left:345px;
}
.shape184{
top:365px;
left:300px;
}

.shape185{
top:365px;
left:315px;
}

.shape186{
top:365px;
left:330px;
}

.shape187{
top:365px;
left:345px;
}
.shape188{
top:350px;
left:300px;
}

.shape189{
top:350px;
left:315px;
}

.shape190{
top:350px;
left:330px;
}

.shape191{
top:350px;
left:345px;
}
.shape192{
top:335px;
left:300px;
}

.shape193{
top:335px;
left:315px;
}

.shape194{
top:335px;
left:330px;
}

.shape195{
top:335px;
left:345px;
}

.shape196{
top:320px;
left:300px;
}

.shape197{
top:320px;
left:315px;
}

.shape198{
top:320px;
left:330px;
}

.shape199{
top:320px;
left:345px;
}
.shape200{
top:305px;
left:300px;
}

.shape201{
top:305px;
left:315px;
}

.shape202{
top:305px;
left:330px;
}

.shape203{
top:305px;
left:345px;
}
.shape204{
top:290px;
left:300px;
}

.shape205{
top:290px;
left:315px;
}

.shape206{
top:290px;
left:330px;
}

.shape207{
top:290px;
left:345px;
}
.shape208{
top:275px;
left:300px;
}

.shape209{
top:275px;
left:315px;
}

.shape210{
top:275px;
left:330px;
}

.shape211{
top:275px;
left:345px;
}








/*E last line*/

.shape212{
top:500px;
left:360px;
}

.shape213{
top:500px;
left:375px;
}

.shape214{
top:500px;
left:390px;
}

.shape215{
top:500px;
left:405px;
}
.shape216{
top:500px;
left:420px;
}
.shape217{
top:500px;
left:435px;
}


.shape218{
top:485px;
left:360px;
}

.shape219{
top:485px;
left:375px;
}

.shape220{
top:485px;
left:390px;
}

.shape221{
top:485px;
left:405px;
}
.shape222{
top:485px;
left:420px;
}
.shape223{
top:485px;
left:435px;
}




.shape224{
top:470px;
left:360px;
}

.shape225{
top:470px;
left:375px;
}

.shape226{
top:470px;
left:390px;
}

.shape227{
top:470px;
left:405px;
}
.shape228{
top:470px;
left:420px;
}
.shape229{
top:470px;
left:435px;
}




.shape230{
top:455px;
left:360px;
}

.shape231{
top:455px;
left:375px;
}

.shape232{
top:455px;
left:390px;
}

.shape233{
top:455px;
left:405px;
}

.shape234{
top:455px;
left:420px;
}

.shape235{
top:455px;
left:435px;
}
















/*E First line*/

.shape236{
top:320px;
left:360px;
}

.shape237{
top:320px;
left:375px;
}

.shape238{
top:320px;
left:390px;
}

.shape239{
top:320px;
left:405px;
}
.shape240{
top:320px;
left:420px;
}
.shape241{
top:320px;
left:435px;
}


.shape242{
top:305px;
left:360px;
}

.shape243{
top:305px;
left:375px;
}

.shape244{
top:305px;
left:390px;
}

.shape245{
top:305px;
left:405px;
}
.shape246{
top:305px;
left:420px;
}
.shape247{
top:305px;
left:435px;
}




.shape248{
top:290px;
left:360px;
}

.shape249{
top:290px;
left:375px;
}

.shape250{
top:290px;
left:390px;
}

.shape251{
top:290px;
left:405px;
}
.shape252{
top:290px;
left:420px;
}
.shape253{
top:290px;
left:435px;
}




.shape254{
top:275px;
left:360px;
}

.shape255{
top:275px;
left:375px;
}

.shape256{
top:275px;
left:390px;
}

.shape257{
top:275px;
left:405px;
}

.shape258{
top:275px;
left:420px;
}

.shape259{
top:275px;
left:435px;
}














/*E Middle line*/

.shape260{
top:410px;
left:360px;
}

.shape261{
top:410px;
left:375px;
}

.shape262{
top:410px;
left:390px;
}

.shape263{
top:410px;
left:405px;
}



.shape264{
top:395px;
left:360px;
}

.shape265{
top:395px;
left:375px;
}

.shape266{
top:395px;
left:390px;
}

.shape267{
top:395px;
left:405px;
}





.shape268{
top:380px;
left:360px;
}

.shape269{
top:380px;
left:375px;
}

.shape270{
top:380px;
left:390px;
}

.shape271{
top:380px;
left:405px;
}




.shape272{
top:365px;
left:360px;
}

.shape273{
top:365px;
left:375px;
}

.shape274{
top:365px;
left:390px;
}

.shape275{
top:365px;
left:405px;
}

























/*S upper line*/

.shape276{
top:320px;
left:500px;
}

.shape277{
top:320px;
left:515px;
}

.shape278{
top:320px;
left:530px;
}

.shape279{
top:320px;
left:545px;
}
.shape280{
top:320px;
left:560px;
}
.shape281{
top:320px;
left:575px;
}


.shape282{
top:320px;
left:590px;
}

.shape283{
top:320px;
left:605px;
}

.shape284{
top:320px;
left:620px;
}

.shape285{
top:320px;
left:635px;
}









.shape286{
top:305px;
left:500px;
}
.shape287{
top:305px;
left:515px;
}
.shape288{
top:305px;
left:530px;
}

.shape289{
top:305px;
left:545px;
}

.shape290{
top:305px;
left:560px;
}

.shape291{
top:305px;
left:575px;
}
.shape292{
top:305px;
left:590px;
}
.shape293{
top:305px;
left:605px;
}
.shape294{
top:305px;
left:620px;
}

.shape295{
top:305px;
left:635px;
}








.shape296{
top:290px;
left:500px;
}

.shape297{
top:290px;
left:515px;
}

.shape298{
top:290px;
left:530px;
}

.shape299{
top:290px;
left:545px;
}
.shape300{
top:290px;
left:560px;
}
.shape301{
top:290px;
left:575px;
}

.shape302{
top:290px;
left:590px;
}

.shape303{
top:290px;
left:605px;
}

.shape304{
top:290px;
left:620px;
}

.shape305{
top:290px;
left:635px;
}






.shape306{
top:275px;
left:500px;
}
.shape307{
top:275px;
left:515px;
}
.shape308{
top:275px;
left:530px;
}

.shape309{
top:275px;
left:545px;
}

.shape310{
top:275px;
left:560px;
}

.shape311{
top:275px;
left:575px;
}
.shape312{
top:275px;
left:590px;
}
.shape313{
top:275px;
left:605px;
}
.shape314{
top:275px;
left:620px;
}

.shape315{
top:275px;
left:635px;
}





















/*S last line*/

.shape316{
top:500px;
left:500px;
}

.shape317{
top:500px;
left:515px;
}

.shape318{
top:500px;
left:530px;
}

.shape319{
top:500px;
left:545px;
}
.shape320{
top:500px;
left:560px;
}
.shape321{
top:500px;
left:575px;
}


.shape322{
top:500px;
left:590px;
}

.shape323{
top:500px;
left:605px;
}

.shape324{
top:500px;
left:620px;
}

.shape325{
top:500px;
left:635px;
}









.shape326{
top:485px;
left:500px;
}
.shape327{
top:485px;
left:515px;
}
.shape328{
top:485px;
left:530px;
}

.shape329{
top:485px;
left:545px;
}

.shape330{
top:485px;
left:560px;
}

.shape331{
top:485px;
left:575px;
}
.shape332{
top:485px;
left:590px;
}
.shape333{
top:485px;
left:605px;
}
.shape334{
top:485px;
left:620px;
}

.shape335{
top:485px;
left:635px;
}








.shape336{
top:470px;
left:500px;
}

.shape337{
top:470px;
left:515px;
}

.shape338{
top:470px;
left:530px;
}

.shape339{
top:470px;
left:545px;
}
.shape340{
top:470px;
left:560px;
}
.shape341{
top:470px;
left:575px;
}

.shape342{
top:470px;
left:590px;
}

.shape343{
top:470px;
left:605px;
}

.shape344{
top:470px;
left:620px;
}

.shape345{
top:470px;
left:635px;
}






.shape346{
top:455px;
left:500px;
}
.shape347{
top:455px;
left:515px;
}
.shape348{
top:455px;
left:530px;
}

.shape349{
top:455px;
left:545px;
}

.shape350{
top:455px;
left:560px;
}

.shape351{
top:455px;
left:575px;
}
.shape352{
top:455px;
left:590px;
}
.shape353{
top:455px;
left:605px;
}
.shape354{
top:455px;
left:620px;
}

.shape355{
top:455px;
left:635px;
}






























/*S middle line*/

.shape356{
top:410px;
left:500px;
}

.shape357{
top:410px;
left:515px;
}

.shape358{
top:410px;
left:530px;
}

.shape359{
top:410px;
left:545px;
}
.shape360{
top:410px;
left:560px;
}
.shape361{
top:410px;
left:575px;
}


.shape362{
top:410px;
left:590px;
}

.shape363{
top:410px;
left:605px;
}

.shape364{
top:410px;
left:620px;
}

.shape365{
top:410px;
left:635px;
}









.shape366{
top:395px;
left:500px;
}
.shape367{
top:395px;
left:515px;
}
.shape368{
top:395px;
left:530px;
}

.shape369{
top:395px;
left:545px;
}

.shape370{
top:395px;
left:560px;
}

.shape371{
top:395px;
left:575px;
}
.shape372{
top:395px;
left:590px;
}
.shape373{
top:395px;
left:605px;
}
.shape374{
top:395px;
left:620px;
}

.shape375{
top:395px;
left:635px;
}








.shape376{
top:380px;
left:500px;
}

.shape377{
top:380px;
left:515px;
}

.shape378{
top:380px;
left:530px;
}

.shape379{
top:380px;
left:545px;
}
.shape380{
top:380px;
left:560px;
}
.shape381{
top:380px;
left:575px;
}

.shape382{
top:380px;
left:590px;
}

.shape383{
top:380px;
left:605px;
}

.shape384{
top:380px;
left:620px;
}

.shape385{
top:380px;
left:635px;
}






.shape386{
top:365px;
left:500px;
}
.shape387{
top:365px;
left:515px;
}
.shape388{
top:365px;
left:530px;
}

.shape389{
top:365px;
left:545px;
}

.shape390{
top:365px;
left:560px;
}

.shape391{
top:365px;
left:575px;
}
.shape392{
top:365px;
left:590px;
}
.shape393{
top:365px;
left:605px;
}
.shape394{
top:365px;
left:620px;
}

.shape395{
top:365px;
left:635px;
}






/*S Right stand*/
.shape396{
top:440px;
left:590px;
}
.shape397{
top:440px;
left:605px;
}
.shape398{
top:440px;
left:620px;
}
.shape399{
top:440px;
left:635px;
}

.shape400{
top:425px;
left:590px;
}
.shape401{
top:425px;
left:605px;
}
.shape402{
top:425px;
left:620px;
}
.shape403{
top:425px;
left:635px;
}











/*S Left stand*/

.shape404{
top:350px;
left:500px;
}
.shape405{
top:350px;
left:515px;
}
.shape406{
top:350px;
left:530px;
}
.shape407{
top:350px;
left:545px;
}

.shape408{
top:335px;
left:500px;
}
.shape409{
top:335px;
left:515px;
}
.shape410{
top:335px;
left:530px;
}
.shape411{
top:335px;
left:545px;
}














































/*S upper line*/

.shape476{
top:320px;
left:715px;
}

.shape477{
top:320px;
left:730px;
}

.shape478{
top:320px;
left:745px;
}

.shape479{
top:320px;
left:760px;
}
.shape480{
top:320px;
left:775px;
}
.shape481{
top:320px;
left:790px;
}


.shape482{
top:320px;
left:805px;
}

.shape483{
top:320px;
left:820px;
}

.shape484{
top:320px;
left:835px;
}

.shape485{
top:320px;
left:850px;
}









.shape486{
top:305px;
left:715px;
}
.shape487{
top:305px;
left:730px;
}
.shape488{
top:305px;
left:745px;
}

.shape489{
top:305px;
left:760px;
}

.shape490{
top:305px;
left:775px;
}

.shape491{
top:305px;
left:790px;
}
.shape492{
top:305px;
left:805px;
}
.shape493{
top:305px;
left:820px;
}
.shape494{
top:305px;
left:835px;
}

.shape495{
top:305px;
left:850px;
}








.shape496{
top:290px;
left:715px;
}

.shape497{
top:290px;
left:730px;
}

.shape498{
top:290px;
left:745px;
}

.shape499{
top:290px;
left:760px;
}
.shape500{
top:290px;
left:775px;
}
.shape501{
top:290px;
left:790px;
}

.shape502{
top:290px;
left:805px;
}

.shape503{
top:290px;
left:820px;
}

.shape504{
top:290px;
left:835px;
}

.shape505{
top:290px;
left:850px;
}






.shape506{
top:275px;
left:715px;
}
.shape507{
top:275px;
left:730px;
}
.shape508{
top:275px;
left:745px;
}

.shape509{
top:275px;
left:760px;
}

.shape510{
top:275px;
left:775px;
}

.shape511{
top:275px;
left:790px;
}
.shape512{
top:275px;
left:805px;
}
.shape513{
top:275px;
left:820px;
}
.shape514{
top:275px;
left:835px;
}

.shape515{
top:275px;
left:850px;
}






















/*S last line*/







.shape516{
top:500px;
left:715px;
}

.shape517{
top:500px;
left:730px;
}

.shape518{
top:500px;
left:745px;
}

.shape519{
top:500px;
left:760px;
}
.shape520{
top:500px;
left:775px;
}
.shape521{
top:500px;
left:790px;
}


.shape522{
top:500px;
left:805px;
}

.shape523{
top:500px;
left:820px;
}

.shape524{
top:500px;
left:835px;
}

.shape525{
top:500px;
left:850px;
}









.shape526{
top:485px;
left:715px;
}
.shape527{
top:485px;
left:730px;
}
.shape528{
top:485px;
left:745px;
}

.shape529{
top:485px;
left:760px;
}

.shape530{
top:485px;
left:775px;
}

.shape531{
top:485px;
left:790px;
}
.shape532{
top:485px;
left:805px;
}
.shape533{
top:485px;
left:820px;
}
.shape534{
top:485px;
left:835px;
}

.shape535{
top:485px;
left:850px;
}








.shape536{
top:470px;
left:715px;
}

.shape537{
top:470px;
left:730px;
}

.shape538{
top:470px;
left:745px;
}

.shape539{
top:470px;
left:760px;
}
.shape540{
top:470px;
left:775px;
}
.shape541{
top:470px;
left:790px;
}

.shape542{
top:470px;
left:805px;
}

.shape543{
top:470px;
left:820px;
}

.shape544{
top:470px;
left:835px;
}

.shape545{
top:470px;
left:850px;
}






.shape546{
top:455px;
left:715px;
}
.shape547{
top:455px;
left:730px;
}
.shape548{
top:455px;
left:745px;
}

.shape549{
top:455px;
left:760px;
}

.shape550{
top:455px;
left:775px;
}

.shape551{
top:455px;
left:790px;
}
.shape552{
top:455px;
left:805px;
}
.shape553{
top:455px;
left:820px;
}
.shape554{
top:455px;
left:835px;
}

.shape555{
top:455px;
left:850px;
}



































/*S middle line*/


.shape556{
top:410px;
left:715px;
}

.shape557{
top:410px;
left:730px;
}

.shape558{
top:410px;
left:745px;
}

.shape559{
top:410px;
left:760px;
}
.shape560{
top:410px;
left:775px;
}
.shape561{
top:410px;
left:790px;
}


.shape562{
top:410px;
left:805px;
}

.shape563{
top:410px;
left:820px;
}

.shape564{
top:410px;
left:835px;
}

.shape565{
top:410px;
left:850px;
}









.shape566{
top:395px;
left:715px;
}
.shape567{
top:395px;
left:730px;
}
.shape568{
top:395px;
left:745px;
}

.shape569{
top:395px;
left:760px;
}

.shape570{
top:395px;
left:775px;
}

.shape571{
top:395px;
left:790px;
}
.shape572{
top:395px;
left:805px;
}
.shape573{
top:395px;
left:820px;
}
.shape574{
top:395px;
left:835px;
}

.shape575{
top:395px;
left:850px;
}








.shape576{
top:380px;
left:715px;
}

.shape577{
top:380px;
left:730px;
}

.shape578{
top:380px;
left:745px;
}

.shape579{
top:380px;
left:760px;
}
.shape580{
top:380px;
left:775px;
}
.shape581{
top:380px;
left:790px;
}

.shape582{
top:380px;
left:805px;
}

.shape583{
top:380px;
left:820px;
}

.shape584{
top:380px;
left:835px;
}

.shape585{
top:380px;
left:850px;
}






.shape586{
top:365px;
left:715px;
}
.shape587{
top:365px;
left:730px;
}
.shape588{
top:365px;
left:745px;
}

.shape589{
top:365px;
left:760px;
}

.shape590{
top:365px;
left:775px;
}

.shape591{
top:365px;
left:790px;
}
.shape592{
top:365px;
left:805px;
}
.shape593{
top:365px;
left:820px;
}
.shape594{
top:365px;
left:835px;
}

.shape595{
top:365px;
left:850px;
}




















/*S right stand*/

.shape596{
top:440px;
left:805px;
}
.shape597{
top:440px;
left:820px;
}
.shape598{
top:440px;
left:835px;
}
.shape599{
top:440px;
left:850px;
}

.shape600{
top:425px;
left:805px;
}
.shape601{
top:425px;
left:820px;
}
.shape602{
top:425px;
left:835px;
}
.shape603{
top:425px;
left:850px;
}











/*S leftstand*/

.shape604{
top:350px;
left:715px;
}
.shape605{
top:350px;
left:730px;
}
.shape606{
top:350px;
left:745px;
}
.shape607{
top:350px;
left:760px;
}




.shape608{
top:335px;
left:715px;
}
.shape609{
top:335px;
left:730px;
}
.shape610{
top:335px;
left:745px;
}
.shape611{
top:335px;
left:760px;
}







/* I stand*/
.shape612{
top: 500px;
left:975px;
}.shape613{
top:485px;
left:975px;
}
.shape614{
top:470px;
left:975px;
}
.shape615{
top:455px;
left:975px;
}
.shape616{
top:440px;
left:975px;
}
.shape617{
top:425px;
left:975px;
}
.shape618{
top:410px;
left:975px;
}
.shape619{
top:395px;
left:975px;
}
.shape620{
top:380px;
left:975px;
}
.shape621{
top:365px;
left:975px;
}
.shape622{
top:350px;
left:975px;
}
.shape623{
top:335px;
left:975px;
}
.shape624{
top:320px;
left:975px;
}
.shape625{
top:305px;
left:975px;
}
.shape626{
top:290px;
left:975px;
}
.shape627{
top:275px;
left:975px;
}.shape628{
top:500px;
left:990px;
}
.shape629{
top:485px;
left:990px;
}
.shape630{
top:470px;
left:990px;
}
.shape631{
top:455px;
left:990px;
}
.shape632{
top:440px;
left:990px;
}
.shape633{
top:425px;
left:990px;
}
.shape634{
top:410px;
left:990px;
}
.shape635{
top:395px;
left:990px;
}
.shape636{
top:380px;
left:990px;
}
.shape637{
top:365px;
left:990px;
}
.shape638{
top:350px;
left:990px;
}
.shape639{
top:335px;
left:990px;
}
.shape640{
top:320px;
left:990px;
}
.shape641{
top:305px;
left:990px;
}
.shape642{
top:290px;
left:990px;
}
.shape643{
top:275px;
left:990px;
}
.shape644{
top:500px;
left:1005px;
}
.shape645{
top:485px;
left:1005px;
}
.shape646{
top:470px;
left:1005px;
}
.shape647{
top:455px;
left:1005px;
}
.shape648{
top:440px;
left:1005px;
}
.shape649{
top:425px;
left:1005px;
}
.shape650{
top:410px;
left:1005px;
}
.shape651{
top:395px;
left:1005px;
}
.shape652{
top:380px;
left:1005px;
}
.shape653{
top:365px;
left:1005px;
}
.shape654{
top:350px;
left:1005px;
}
.shape655{
top:335px;
left:1005px;
}
.shape656{
top:320px;
left:1005px;
}
.shape657{
top:305px;
left:1005px;
}
.shape658{
top:290px;
left:1005px;
}
.shape659{
top:275px;
left:1005px;
}
.shape660{
top:500px;
left:1020px;
}
.shape661{
top:485px;
left:1020px;
}
.shape662{
top:470px;
left:1020px;
}
.shape663{
top:455px;
left:1020px;
}
.shape664{
top:440px;
left:1020px;
}
.shape665{
top:425px;
left:1020px;
}
.shape666{
top:410px;
left:1020px;
}
.shape667{
top:395px;
left:1020px;
}
.shape668{
top:380px;
left:1020px;
}
.shape669{
top:365px;
left:1020px;
}
.shape670{
top:350px;
left:1020px;
}
.shape671{
top:335px;
left:1020px;
}
.shape672{
top:320px;
left:1020px;
}
.shape673{
top:305px;
left:1020px;
}
.shape674{
top:290px;
left:1020px;
}
.shape675{
top:275px;
left:1020px;
}






/* I Upside*/
.shape676{
top:500px;
left:930px;
}
.shape677{
top:500px;
left:945px;
}
.shape678{
top:500px;
left:960px;
}
.shape679{
top:485px;
left:930px;
}
.shape680{
top:485px;
left:945px;
}
.shape681{
top:485px;
left:960px;
}
.shape682{
top:500px;
left:1035px;
}
.shape683{
top:500px;
left:1050px;
}
.shape684{
top:500px;
left:1065px;
}
.shape685{
top:485px;
left:1035px;
}
.shape686{
top:485px;
left:1050px;
}
.shape687{
top:485px;
left:1065px;
}













.shape688{
top:275px;
left:1035px;
}
.shape689{
top:275px;
left:1050px;
}
.shape690{
top:275px;
left:1065px;
}
.shape691{
top:290px;
left:1035px;
}
.shape692{
top:290px;
left:1050px;
}
.shape693{
top:290px;
left:1065px;
}
.shape694{
top:275px;
left:960px;
}
.shape695{
top:275px;
left:945px;
}
.shape696{
top:275px;
left:930px;
}
.shape697{
top:290px;
left:960px;
}
.shape698{
top:290px;
left:945px;
}
.shape699{
top:290px;
left:930px;
}
















/*************ANimation*************/
.shape1,.shape2,.shape3,.shape4,.shape5,.shape6,.shape7,.shape8,.shape9,.shape10,.shape11,.shape12{
    animation: ef1 10s ease-in-out 4s infinite;
    -webkit-animation: ef1 10s ease-in-out 4s infinite;
}                       
.shape13,.shape14,.shape15,.shape16,.shape17,.shape18,.shape19,.shape20,.shape21,.shape22,.shape23, .shape24{ animation: ef1 10s ease-in-out 4.2s infinite; -webkit-animation: ef1 10s ease-in-out 4.2s infinite;
}                       
.shape25,.shape26,.shape27,.shape28,.shape29,.shape30,.shape31,.shape32,.shape33, .shape34,.shape35,.shape36{ animation: ef1 10s ease-in-out 4.4s infinite; -webkit-animation: ef1 10s ease-in-out 4.4s infinite;
}          
.shape37,.shape38,.shape39,.shape40,.shape41,.shape42,.shape43, .shape44,.shape45,.shape46,.shape47,.shape48{ animation: ef1 10s ease-in-out 4.6s infinite; -webkit-animation: ef1 10s ease-in-out 4.6s infinite;
}          
.shape49,.shape50,.shape51,.shape52,.shape53, .shape54,.shape55,.shape56,.shape57,.shape58,.shape59,.shape60,.shape61,.shape62,.shape63,.shape64{ animation: ef1 10s ease-in-out 4.8s infinite; -webkit-animation: ef1 10s ease-in-out 4.8s infinite;
}
.shape65,.shape66,.shape67,.shape68,.shape69,.shape70,.shape71,.shape72,.shape73,.shape74  { animation: ef1 10s ease-in-out 5s infinite; -webkit-animation: ef1 10s ease-in-out 5s infinite;
}
.shape75,.shape76,.shape77,.shape78,.shape79,.shape80,.shape81,.shape82,.shape83{ animation: ef1 10s ease-in-out 5.2s infinite; -webkit-animation: ef1 10s ease-in-out 5.2s infinite;
}
.shape132,.shape133,.shape134,.shape135,.shape136,.shape137,.shape138,.shape139,.shape140,.shape141,.shape142,.shape143,.shape144,.shape145,.shape146,.shape147{
    animation: ef1 10s ease-in-out 5.4s infinite;
    -webkit-animation: ef1 10s ease-in-out 5.4s infinite;
}
    .shape120,.shape121,.shape122,.shape123,.shape124,.shape125,.shape126,.shape127,.shape128,.shape129,.shape130,.shape131{
        animation: ef1 10s ease-in-out 5.6s infinite;
        -webkit-animation: ef1 10s ease-in-out 5.6s infinite;
}
        .shape108,.shape109,.shape110,.shape111,.shape112,.shape113,.shape114,.shape115,.shape116,.shape117,.shape118,.shape119{
            animation: ef1 10s ease-in-out 5.8s infinite;
            -webkit-animation: ef1 10s ease-in-out 5.8s infinite;
}
            .shape96,.shape97,.shape98,.shape99,.shape100,.shape101,.shape102,.shape103,.shape104,.shape105,.shape106,.shape107{
                animation: ef1 10s ease-in-out 6s infinite;
                -webkit-animation: ef1 10s ease-in-out 6s infinite;
}
                .shape84,.shape85,.shape86,.shape87,.shape88,.shape89,.shape90,.shape91,.shape92,.shape93,.shape94,.shape95{
                    animation: ef1 10s ease-in-out 6.2s infinite;
                    -webkit-animation: ef1 10s ease-in-out 6.2s infinite;
}





.shape148,.shape149,.shape150,.shape151,.shape152,.shape153,.shape154,.shape155,.shape156,.shape157,.shape158,.shape159{
    animation: ef1 10s ease-in-out 6.4s infinite;
    -webkit-animation: ef1 10s ease-in-out 6.4s infinite;
}
.shape160,.shape161,.shape162,.shape163,.shape164,.shape165,.shape166,.shape167,.shape168,.shape169,.shape170,.shape171{
    animation: ef1 10s ease-in-out 6.6s infinite;
    -webkit-animation: ef1 10s ease-in-out 6.6s infinite;
}
.shape172,.shape173,.shape174,.shape175,.shape176,.shape177,.shape178,.shape179,.shape180,.shape181,.shape182,.shape183{
    animation: ef1 10s ease-in-out 6.8s infinite;
    -webkit-animation: ef1 10s ease-in-out 6.8s infinite;
}
.shape184,.shape185,.shape186,.shape187,.shape188,.shape189,.shape190,.shape191,.shape192,.shape193,.shape194,.shape195{
    animation: ef1 10s ease-in-out 7s infinite;
    -webkit-animation: ef1 10s ease-in-out 7s infinite;
}
.shape196,.shape197,.shape198,.shape199,.shape200,.shape201,.shape202,.shape203,.shape204,.shape205,.shape206,.shape207,.shape208,.shape209,.shape210,.shape211{
    animation: ef1 10s ease-in-out 7.2s infinite;
    -webkit-animation: ef1 10s ease-in-out 7.2s infinite;
}

.shape212,.shape213,.shape214,.shape215,.shape216,.shape217,.shape218,.shape219,.shape220,.shape221,.shape222,.shape223,.shape224,.shape225,.shape226,.shape227,.shape228,.shape229,.shape230,.shape231,.shape232,.shape233,.shape234,.shape235{
    animation: ef1 10s ease-in-out 6.4s infinite;
    -webkit-animation: ef1 10s ease-in-out 6.4s infinite;
}


.shape260,.shape261,.shape262,.shape263,.shape264,.shape265,.shape266,.shape267,.shape268,.shape269,.shape270,.shape271,.shape272,.shape273,.shape274,.shape275{
    animation: ef1 10s ease-in-out 6.8s infinite;
    -webkit-animation: ef1 10s ease-in-out 6.8s infinite;
}
.shape236,.shape237,.shape238,.shape239,.shape240,.shape241,.shape242,.shape243,.shape244,.shape245,.shape246,.shape247,.shape248,.shape249,.shape250,.shape251,.shape252,.shape253,.shape254,.shape255,.shape256,.shape257,.shape258,.shape259{
    animation: ef1 10s ease-in-out 7.2s infinite;
    -webkit-animation: ef1 10s ease-in-out 7.2s infinite;
}

.shape276,.shape277,.shape278,.shape279,.shape280,.shape281,.shape282,.shape283,.shape284,.shape285,.shape286,.shape287,.shape288,.shape289,.shape290,.shape291,.shape292,.shape293,.shape294,.shape295,.shape296,.shape297,.shape298,.shape299,.shape300,.shape301,.shape302,.shape303,.shape304,.shape305,.shape306,.shape307,.shape308,.shape309,.shape310,.shape311,.shape312,.shape313,.shape314,.shape315{
    animation: ef1 10s ease-in-out 7.4s infinite;
    -webkit-animation: ef1 10s ease-in-out 7.4s infinite;
}
.shape404,.shape405,.shape406,.shape407,.shape408,.shape409,.shape410,.shape411{
    animation: ef1 10s ease-in-out 7.6s infinite;
    -webkit-animation: ef1 10s ease-in-out 7.6s infinite;
}
.shape356,.shape357,.shape358,.shape359,.shape360,.shape361,.shape362,.shape363,.shape364,.shape365,.shape366,.shape367,.shape368,.shape369,.shape370,.shape371,.shape372,.shape373,.shape374,.shape375,.shape376,.shape377,.shape378,.shape379,.shape380,.shape381,.shape382,.shape383,.shape384,.shape385,.shape386,.shape387,.shape388,.shape389,.shape390,.shape391,.shape392,.shape393,.shape394,.shape395{
    animation: ef1 10s ease-in-out 7.8s infinite;
    -webkit-animation: ef1 10s ease-in-out 7.8s infinite;
}
.shape396,.shape397,.shape398,.shape399,.shape400,.shape401,.shape402,.shape403{
    animation: ef1 10s ease-in-out 8s infinite;
    -webkit-animation: ef1 10s ease-in-out 8s infinite;
}
.shape316,.shape317,.shape318,.shape319,.shape320,.shape321,.shape322,.shape323,.shape324,.shape325,.shape326,.shape327,.shape328,.shape329,.shape330,.shape331,.shape332,.shape333,.shape334,.shape335,.shape336,.shape337,.shape338,.shape339,.shape340,.shape341,.shape342,.shape343,.shape344,.shape345,.shape346,.shape347,.shape348,.shape349,.shape350,.shape351,.shape352,.shape353,.shape354,.shape355{
    animation: ef1 10s ease-in-out 8.2s infinite;
    -webkit-animation: ef1 10s ease-in-out 8.2s infinite;
}

.shape516,.shape517,.shape518,.shape519,.shape520,.shape521,.shape522,.shape523,.shape524,.shape525,.shape526,.shape527,.shape528,.shape529,.shape530,.shape531,.shape532,.shape533,.shape534,.shape535,.shape536,.shape537,.shape538,.shape539,.shape540,.shape541,.shape542,.shape543,.shape544,.shape545,.shape546,.shape547,.shape548,.shape549,.shape550,.shape551,.shape552,.shape553,.shape554,.shape555{
    animation: ef1 10s ease-in-out 8.4s infinite;
    -webkit-animation: ef1 10s ease-in-out 8.4s infinite;
}
.shape596,.shape597,.shape598,.shape599,.shape600,.shape601,.shape602,.shape603{
    animation: ef1 10s ease-in-out 8.6s infinite;
    -webkit-animation: ef1 10s ease-in-out 8.6s infinite;
}

.shape556,.shape557,.shape558,.shape559,.shape560,.shape561,.shape562,.shape563,.shape564,.shape565,.shape566,.shape567,.shape568,.shape569,.shape570,.shape571,.shape572,.shape573,.shape574,.shape575,.shape576,.shape577,.shape578,.shape579,.shape580,.shape581,.shape582,.shape583,.shape584,.shape585,.shape586,.shape587,.shape588,.shape589,.shape590,.shape591,.shape592,.shape593,.shape594,.shape595{
    animation: ef1 10s ease-in-out 8.8s infinite;
    -webkit-animation: ef1 10s ease-in-out 8.8s infinite;
}
.shape604,.shape605,.shape606,.shape607,.shape608,.shape609,.shape610,.shape611{
    animation: ef1 10s ease-in-out 9s infinite;
    -webkit-animation: ef1 10s ease-in-out 9s infinite;
}

.shape476,.shape477,.shape478,.shape479,.shape480,.shape481,.shape482,.shape483,.shape484,.shape485,.shape486,.shape487,.shape488,.shape489,.shape490,.shape491,.shape492,.shape493,.shape494,.shape495,.shape496,.shape497,.shape498,.shape499,.shape500,.shape501,.shape502,.shape503,.shape504,.shape505,.shape506,.shape507,.shape508,.shape509,.shape510,.shape511,.shape512,.shape513,.shape514,.shape515{
    animation: ef1 10s ease-in-out 9.2s infinite;
    -webkit-animation: ef1 10s ease-in-out 9.2s infinite;
}
.shape676,.shape677,.shape678,.shape679,.shape680,.shape681,.shape682,.shape683,.shape684,.shape685,.shape686,.shape687{
    animation: ef1 10s ease-in-out 9.4s infinite;
    -webkit-animation: ef1 10s ease-in-out 9.4s infinite;
}
.shape612,.shape613,.shape628,.shape629,.shape644,.shape645,.shape660,.shape661{
    animation: ef1 10s ease-in-out 9.4s infinite;
    -webkit-animation: ef1 10s ease-in-out 9.4s infinite;
}
.shape614,.shape615,.shape616,.shape617,.shape630,.shape631,.shape632,.shape633,.shape646,.shape647,.shape648,.shape649,.shape662,.shape663,.shape664,.shape665{
    animation: ef1 10s ease-in-out 9.6s infinite;
    -webkit-animation: ef1 10s ease-in-out 9.6s infinite;
}
.shape618,.shape619,.shape620,.shape621,.shape634,.shape635,.shape636,.shape637,.shape650,.shape651,.shape652,.shape653,.shape666,.shape667,.shape668,.shape669{
    animation: ef1 10s ease-in-out 9.8s infinite;
    -webkit-animation: ef1 10s ease-in-out 9.8s infinite;
}

.shape622,.shape623,.shape624,.shape625,.shape638,.shape639,.shape640,.shape641,.shape654,.shape655,.shape656,.shape657,.shape670,.shape671,.shape672,.shape673{
    animation: ef1 10s ease-in-out 10s infinite;
    -webkit-animation: ef1 10s ease-in-out 10s infinite;
}
.shape626,.shape627,.shape642,.shape643,.shape658,.shape659,.shape674,.shape675{
    animation: ef1 10s ease-in-out 10.2s infinite;
    -webkit-animation: ef1 10s ease-in-out 10.2s infinite;
}


.shape688,.shape689,.shape690,.shape691,.shape692,.shape693,.shape694,.shape695,.shape696,.shape697,.shape698,.shape699{
    animation: ef1 10s ease-in-out 10.2s infinite;
    -webkit-animation: ef1 10s ease-in-out 10.2s infinite;
}












@keyframes ef1{
0%{
background-color: blue;
}
25%{
background-color: #49ff00;
}
50%{
    background-color: #7D1935;
}
75%{
background-color:red;
}
100%{
    background-color:#6A097D;
}
}
/* The project complete*/
